In [43]:
import pandas as pd
import numpy as np
from functools import reduce

In [90]:
from pathlib import Path
import pandas as pd
entries = Path('dfs/')
dfs =[]
for entry in entries.iterdir():
    try:
        dfs.append(pd.read_csv(entry))
    except:
        'None'

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Jugadores'],
                                            how='outer'), dfs).fillna(0)

In [45]:
Jugadores = ['Paco','Pepe','Rafa','Fran','Raul','Hugo','Julio','Fiti','Diego','Manete']
Goles = [0,0,0,1,1,1,1,1,0,0]
Equipos = ['Az','Az','Az','Az','Az','Am','Am','Am','Am','Am']
MVP = [0,0,0,0,0,0,0,1,0,0]
WL = ['L','L','L','L','L','W','W','W','W','W']

In [46]:
df = pd.DataFrame({'Jugadores':Jugadores,
                   'Goles':Goles,
                   'Equipos':Equipos,
                   'MVP':MVP,
                   'WL':WL})

In [15]:
df.to_csv('Partido4.csv',index = False)

In [68]:
df_merged

,Jugadores,Goles_x,Equipo_x,MVP_x,WL_x,Goles_y,Equipo_y,MVP_y,WL_y,Goles_x,Equipo_x,MVP_x,WL_x,Goles_y,Equipo_y,MVP_y,WL_y
0,Omar,0.0,Am,0.0,W,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
1,Alfonso,0.0,Am,0.0,W,0.0,0,0.0,0,2.0,Am,1.0,W,0.0,0,0.0,0
2,Javi,1.0,Am,0.0,W,2.0,Am,0.0,W,0.0,Am,0.0,W,0.0,0,0.0,0
3,Hugo,3.0,Am,1.0,W,3.0,Am,1.0,W,0.0,0,0.0,0,1.0,Am,0.0,W
4,Fran,1.0,Am,0.0,W,2.0,Am,0.0,W,1.0,Am,0.0,W,1.0,Az,0.0,L
5,Pepe,0.0,Az,0.0,L,1.0,Az,0.0,L,0.0,Az,0.0,L,0.0,Az,0.0,L
6,Manolo,0.0,Az,0.0,L,0.0,Az,0.0,L,0.0,0,0.0,0,0.0,0,0.0,0
7,Jose Bravo,2.0,Az,0.0,L,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
8,Diego,1.0,Az,0.0,L,3.0,Az,0.0,L,1.0,Am,0.0,W,0.0,Am,0.0,W
9,Rafa,0.0,Az,0.0,L,1.0,Am,0.0,W,0.0,0,0.0,0,0.0,Az,0.0,L
10,Ferran,0.0,0,0.0,0,0.0,Am,0.0,W,0.0,0,0.0,0,0.0,0,0.0,0
11,Julio,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,Az,0.0,L,1.0,Am,0.0,W
12,Paco,0.0,0,0.0,0,0.0,Az,0.0,L,0.0,0,0.0,0,0.0,Az,0.0,L
13,Jesus D,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Am,0.0,W,0.0,0,0.0,0
14,Carlos M,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,0,0.0,0
15,Pablo,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Az,0.0,L,0.0,0,0.0,0
16,Manu Jesus,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,0,0.0,0
17,Raul,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L
18,Fiti,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Am,1.0,W
19,Manete,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Am,0.0,W

In [78]:

df_goles = df_merged.groupby(['Jugadores'])['Goles_x'].sum() + round(df_merged.groupby(['Jugadores'])['Goles_y'].sum()) +round(df_merged.groupby(['Jugadores'])['Goles'].sum())
df_goles = df_goles.sort_values(ascending = False)
df_goles = df_goles.astype(int)
df_mvps = df_merged.groupby(['Jugadores'])['MVP_x'].sum() + round(df_merged.groupby(['Jugadores'])['MVP_y'].sum()) +round(df_merged.groupby(['Jugadores'])['MVP'].sum())
df_mvps = df_mvps.sort_values(ascending = False)
df_mvps = df_mvps.astype(int)
df_wins = df_merged.groupby(['Jugadores'])['WL_x'].sum().astype(str) + df_merged.groupby(['Jugadores'])['WL_y'].sum().astype(str) +df_merged.groupby(['Jugadores'])['WL'].sum().astype(str)
print(df_goles.values)
winloss = []
perc = []
for i in df_wins.values:
    winloss.append(str(i.count('W'))+'-'+str(i.count('L')))
    perc.append(round(i.count('W') / (i.count('W') + i.count('L')) * 100))
jogadores = (list(df_wins.index))

df_wins2 = pd.DataFrame({'Jugadores':jogadores,
                         'TotalWL':winloss,
                         'Win%':perc})
df_wins2.sort_values(by='TotalWL',ascending = False,inplace = True)
df_wins2.reset_index(inplace = True)
df_wins2.drop('index',axis=1,inplace = True)

AttributeError: 'DataFrame' object has no attribute 'name'

In [20]:
df_goles = df_merged.groupby(['Jugadores'])['Goles_x'].sum() + round(df_merged.groupby(['Jugadores'])['Goles_y'].sum()) +round(df_merged.groupby(['Jugadores'])['Goles'].sum())

AttributeError: 'DataFrame' object has no attribute 'name'

In [69]:
try:
    merged1 = df_merged.groupby(['Jugadores'])['Goles_x'].sum()
except:'None'

In [72]:
merged1.sum()

AttributeError: 'DataFrame' object has no attribute 'name'

In [56]:
df_wins2.sort_values(by='Win%',ascending=False)

     Jugadores TotalWL  Win%
0         Javi     3-0   100
6       Ferran     1-0   100
1         Fran     3-0   100
7      Jesus D     1-0   100
8         Omar     1-0   100
3         Hugo     2-0   100
2      Alfonso     2-0   100
5         Rafa     1-1    50
4        Diego     1-2    33
9         Pepe     0-3     0
10       Julio     0-2     0
11      Manolo     0-2     0
12    Carlos M     0-1     0
13  Manu Jesus     0-1     0
14       Pablo     0-1     0
15        Paco     0-1     0
16  Jose Bravo     0-1     0

In [41]:
df4 = pd.read_csv('Partido4.csv')

In [59]:
for i in dfs:
    print(i)

    Jugadores  Goles Equipo  MVP WL
0        Omar      0     Am    0  W
1     Alfonso      0     Am    0  W
2        Javi      1     Am    0  W
3        Hugo      3     Am    1  W
4        Fran      1     Am    0  W
5        Pepe      0     Az    0  L
6      Manolo      0     Az    0  L
7  Jose Bravo      2     Az    0  L
8       Diego      1     Az    0  L
9        Rafa      0     Az    0  L
  Jugadores  Goles Equipo  MVP WL
0      Rafa      1     Am    0  W
1      Javi      2     Am    0  W
2      Hugo      3     Am    1  W
3      Fran      2     Am    0  W
4    Ferran      0     Am    0  W
5      Pepe      1     Az    0  L
6     Diego      3     Az    0  L
7     Julio      1     Az    0  L
8      Paco      0     Az    0  L
9    Manolo      0     Az    0  L
    Jugadores  Goles Equipo  MVP WL
0       Diego      1     Am    0  W
1     Jesus D      0     Am    0  W
2        Javi      0     Am    0  W
3        Fran      1     Am    0  W
4     Alfonso      2     Am    1  W
5        Pepe      0     Az    0  L
6    Carlos M      1     Az    0  L
7       Pablo      0     Az    0  L
8       Julio      0     Az    0  L
9  Manu Jesus      1     Az    0  L

In [61]:
df.rename(columns = {'Equipos':'Equipo'}, inplace = True)

In [64]:
df.to_csv('Partido4.csv',index = False)

In [88]:
df_merged.columns

Index(['Jugadores', 'Goles_x', 'Equipo_x', 'MVP_x', 'WL_x', 'Goles_y',
       'Equipo_y', 'MVP_y', 'WL_y', 'Goles_x', 'Equipo_x', 'MVP_x', 'WL_x',
       'Goles_y', 'Equipo_y', 'MVP_y', 'WL_y'],
      dtype='object')

In [85]:
df_merged

,Jugadores,Goles_x,Equipo_x,MVP_x,WL_x,Goles_y,Equipo_y,MVP_y,WL_y,Goles_x,Equipo_x,MVP_x,WL_x,Goles_y,Equipo_y,MVP_y,WL_y
0,Omar,0.0,Am,0.0,W,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
1,Alfonso,0.0,Am,0.0,W,0.0,0,0.0,0,2.0,Am,1.0,W,0.0,0,0.0,0
2,Javi,1.0,Am,0.0,W,2.0,Am,0.0,W,0.0,Am,0.0,W,0.0,0,0.0,0
3,Hugo,3.0,Am,1.0,W,3.0,Am,1.0,W,0.0,0,0.0,0,1.0,Am,0.0,W
4,Fran,1.0,Am,0.0,W,2.0,Am,0.0,W,1.0,Am,0.0,W,1.0,Az,0.0,L
5,Pepe,0.0,Az,0.0,L,1.0,Az,0.0,L,0.0,Az,0.0,L,0.0,Az,0.0,L
6,Manolo,0.0,Az,0.0,L,0.0,Az,0.0,L,0.0,0,0.0,0,0.0,0,0.0,0
7,Jose Bravo,2.0,Az,0.0,L,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
8,Diego,1.0,Az,0.0,L,3.0,Az,0.0,L,1.0,Am,0.0,W,0.0,Am,0.0,W
9,Rafa,0.0,Az,0.0,L,1.0,Am,0.0,W,0.0,0,0.0,0,0.0,Az,0.0,L
10,Ferran,0.0,0,0.0,0,0.0,Am,0.0,W,0.0,0,0.0,0,0.0,0,0.0,0
11,Julio,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,Az,0.0,L,1.0,Am,0.0,W
12,Paco,0.0,0,0.0,0,0.0,Az,0.0,L,0.0,0,0.0,0,0.0,Az,0.0,L
13,Jesus D,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Am,0.0,W,0.0,0,0.0,0
14,Carlos M,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,0,0.0,0
15,Pablo,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Az,0.0,L,0.0,0,0.0,0
16,Manu Jesus,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,0,0.0,0
17,Raul,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L
18,Fiti,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Am,1.0,W
19,Manete,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Am,0.0,W

In [95]:
for i in dfs:
    print(i)

    Jugadores  Goles Equipo  MVP WL
0        Omar      0     Am    0  W
1     Alfonso      0     Am    0  W
2        Javi      1     Am    0  W
3        Hugo      3     Am    1  W
4        Fran      1     Am    0  W
5        Pepe      0     Az    0  L
6      Manolo      0     Az    0  L
7  Jose Bravo      2     Az    0  L
8       Diego      1     Az    0  L
9        Rafa      0     Az    0  L
  Jugadores  Goles Equipo  MVP WL
0      Rafa      1     Am    0  W
1      Javi      2     Am    0  W
2      Hugo      3     Am    1  W
3      Fran      2     Am    0  W
4    Ferran      0     Am    0  W
5      Pepe      1     Az    0  L
6     Diego      3     Az    0  L
7     Julio      1     Az    0  L
8      Paco      0     Az    0  L
9    Manolo      0     Az    0  L
    Jugadores  Goles Equipo  MVP WL
0       Diego      1     Am    0  W
1     Jesus D      0     Am    0  W
2        Javi      0     Am    0  W
3        Fran      1     Am    0  W
4     Alfonso      2     Am    1  W
5        Pepe      0     Az    0  L
6    Carlos M      1     Az    0  L
7       Pablo      0     Az    0  L
8       Julio      0     Az    0  L
9  Manu Jesus      1     Az    0  L
  Jugadores  Goles Equipo  MVP WL
0      Paco      0     Az    0  L
1      Pepe      0     Az    0  L
2      Rafa      0     Az    0  L
3      Fran      1     Az    0  L
4      Raul      1     Az    0  L
5      Hugo      1     Am    0  W
6     Julio      1     Am    0  W
7      Fiti      1     Am    1  W
8     Diego      0     Am    0  W
9    Manete      0     Am    0  W

In [96]:
dfs[0]

    Jugadores  Goles Equipo  MVP WL
0        Omar      0     Am    0  W
1     Alfonso      0     Am    0  W
2        Javi      1     Am    0  W
3        Hugo      3     Am    1  W
4        Fran      1     Am    0  W
5        Pepe      0     Az    0  L
6      Manolo      0     Az    0  L
7  Jose Bravo      2     Az    0  L
8       Diego      1     Az    0  L
9        Rafa      0     Az    0  L

In [105]:
merged_df = pd.concat(dfs)

In [106]:
merged_df

    Jugadores  Goles Equipo  MVP WL
0        Omar      0     Am    0  W
1     Alfonso      0     Am    0  W
2        Javi      1     Am    0  W
3        Hugo      3     Am    1  W
4        Fran      1     Am    0  W
5        Pepe      0     Az    0  L
6      Manolo      0     Az    0  L
7  Jose Bravo      2     Az    0  L
8       Diego      1     Az    0  L
9        Rafa      0     Az    0  L
0        Rafa      1     Am    0  W
1        Javi      2     Am    0  W
2        Hugo      3     Am    1  W
3        Fran      2     Am    0  W
4      Ferran      0     Am    0  W
5        Pepe      1     Az    0  L
6       Diego      3     Az    0  L
7       Julio      1     Az    0  L
8        Paco      0     Az    0  L
9      Manolo      0     Az    0  L
0       Diego      1     Am    0  W
1     Jesus D      0     Am    0  W
2        Javi      0     Am    0  W
3        Fran      1     Am    0  W
4     Alfonso      2     Am    1  W
5        Pepe      0     Az    0  L
6    Carlos M      1     Az    0  L
7       Pablo      0     Az    0  L
8       Julio      0     Az    0  L
9  Manu Jesus      1     Az    0  L
0        Paco      0     Az    0  L
1        Pepe      0     Az    0  L
2        Rafa      0     Az    0  L
3        Fran      1     Az    0  L
4        Raul      1     Az    0  L
5        Hugo      1     Am    0  W
6       Julio      1     Am    0  W
7        Fiti      1     Am    1  W
8       Diego      0     Am    0  W
9      Manete      0     Am    0  W

In [118]:
merged_df.groupby(['Jugadores'])['Goles'].sum().sort_values(ascending=False)

Jugadores
Hugo          7
Diego         5
Fran          5
Javi          3
Jose Bravo    2
Julio         2
Alfonso       2
Manu Jesus    1
Rafa          1
Fiti          1
Pepe          1
Carlos M      1
Raul          1
Manolo        0
Manete        0
Jesus D       0
Omar          0
Pablo         0
Paco          0
Ferran        0
Name: Goles, dtype: int64

In [119]:
merged_df.groupby(['Jugadores'])['MVP'].sum().sort_values(ascending=False)

Jugadores
Hugo          2
Alfonso       1
Fiti          1
Rafa          0
Carlos M      0
Diego         0
Ferran        0
Fran          0
Javi          0
Jesus D       0
Raul          0
Julio         0
Manete        0
Manolo        0
Manu Jesus    0
Omar          0
Pablo         0
Paco          0
Pepe          0
Jose Bravo    0
Name: MVP, dtype: int64

In [120]:
merged_df.groupby(['Jugadores'])['WL'].sum().sort_values(ascending=False)

Jugadores
Fran          WWWL
Javi           WWW
Hugo           WWW
Alfonso         WW
Ferran           W
Omar             W
Manete           W
Jesus D          W
Fiti             W
Rafa           LWL
Diego         LLWW
Julio          LLW
Pepe          LLLL
Paco            LL
Manolo          LL
Carlos M         L
Raul             L
Manu Jesus       L
Pablo            L
Jose Bravo       L
Name: WL, dtype: object

In [129]:
def find_the_number_plate(customer_id):
    if customer_id in range(17558424):
        return customer_id
    else:
        print('New number pls')

In [133]:
find_the_number_plate(17558424)

New number pls

In [193]:
17558424/999

17576.0

In [188]:
num = 7
if num in range(1000):
    if  num+1 < 10:
        print('aaa'+'00'+str(num+1))
    elif 10<= num+1 <100:
        print('aaa'+'0'+str(num+1))
    else:
        print('aaa'+str(num+1))

aaa008

In [195]:
alpha = {1:'a', 2:'b', 3:'c', 4:'d', 5:'e', 6:'f', 7:'g', 8:'h', 9:'i', 10:'j', 11:'k', 12:'l', 13:'m', 14:'n', 15:'o', 16:'p', 17:'q', 18:'r', 19:'s', 20:'t', 21:'u', 22:'v', 23:'w', 24:'x', 25:'y', 26:'z'}

{1: 'a',
 2: 'b',
 3: 'c',
 4: 'd',
 5: 'e',
 6: 'f',
 7: 'g',
 8: 'h',
 9: 'i',
 10: 'j',
 11: 'k',
 12: 'l',
 13: 'm',
 14: 'n',
 15: 'o',
 16: 'p',
 17: 'q',
 18: 'r',
 19: 's',
 20: 't',
 21: 'u',
 22: 'v',
 23: 'w',
 24: 'x',
 25: 'y',
 26: 'z'}

In [228]:
num = 17558422

In [229]:
(num+1)/999

17575.998998999

In [199]:
len(alpha)

26

In [224]:
234568/999

234.8028028028028

In [226]:
43057/999

43.1001001001001

In [235]:
df_merged.index = pd.RangeIndex(1,len(df_merged)+1)

In [236]:
df_merged

,Jugadores,Goles_x,Equipo_x,MVP_x,WL_x,Goles_y,Equipo_y,MVP_y,WL_y,Goles_x,Equipo_x,MVP_x,WL_x,Goles_y,Equipo_y,MVP_y,WL_y
1,Omar,0.0,Am,0.0,W,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
2,Alfonso,0.0,Am,0.0,W,0.0,0,0.0,0,2.0,Am,1.0,W,0.0,0,0.0,0
3,Javi,1.0,Am,0.0,W,2.0,Am,0.0,W,0.0,Am,0.0,W,0.0,0,0.0,0
4,Hugo,3.0,Am,1.0,W,3.0,Am,1.0,W,0.0,0,0.0,0,1.0,Am,0.0,W
5,Fran,1.0,Am,0.0,W,2.0,Am,0.0,W,1.0,Am,0.0,W,1.0,Az,0.0,L
6,Pepe,0.0,Az,0.0,L,1.0,Az,0.0,L,0.0,Az,0.0,L,0.0,Az,0.0,L
7,Manolo,0.0,Az,0.0,L,0.0,Az,0.0,L,0.0,0,0.0,0,0.0,0,0.0,0
8,Jose Bravo,2.0,Az,0.0,L,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
9,Diego,1.0,Az,0.0,L,3.0,Az,0.0,L,1.0,Am,0.0,W,0.0,Am,0.0,W
10,Rafa,0.0,Az,0.0,L,1.0,Am,0.0,W,0.0,0,0.0,0,0.0,Az,0.0,L
11,Ferran,0.0,0,0.0,0,0.0,Am,0.0,W,0.0,0,0.0,0,0.0,0,0.0,0
12,Julio,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,Az,0.0,L,1.0,Am,0.0,W
13,Paco,0.0,0,0.0,0,0.0,Az,0.0,L,0.0,0,0.0,0,0.0,Az,0.0,L
14,Jesus D,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Am,0.0,W,0.0,0,0.0,0
15,Carlos M,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,0,0.0,0
16,Pablo,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Az,0.0,L,0.0,0,0.0,0
17,Manu Jesus,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,0,0.0,0
18,Raul,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L
19,Fiti,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Am,1.0,W
20,Manete,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Am,0.0,W

In [239]:
merged_df.groupby(['Jugadores'])['WL'].sum().sort_values(ascending=False)

Jugadores
Fran          WWWL
Javi           WWW
Hugo           WWW
Alfonso         WW
Ferran           W
Omar             W
Manete           W
Jesus D          W
Fiti             W
Rafa           LWL
Diego         LLWW
Julio          LLW
Pepe          LLLL
Paco            LL
Manolo          LL
Carlos M         L
Raul             L
Manu Jesus       L
Pablo            L
Jose Bravo       L
Name: WL, dtype: object

In [240]:
winloss = []
perc = []
for i in df_wins.values:
    winloss.append(str(i.count('W'))+'-'+str(i.count('L')))
    perc.append(round(i.count('W') / (i.count('W') + i.count('L')) * 100))
jogadores = (list(df_wins.index))

df_wins2 = pd.DataFrame({'Jugadores':jogadores,
                         'TotalWL':winloss,
                         'Win%':perc})
df_wins2.sort_values(by='TotalWL',ascending = False,inplace = True)
df_wins2.reset_index(inplace = True)
df_wins2.drop('index',axis=1,inplace = True)
df_wins2 = df_wins2.sort_values(by=['Win%','TotalWL'],ascending=False)
df_wins2.index = pd.RangeIndex(1,len(df_wins2)+1)

In [263]:
def minimo(x):
    if x == '0-1' or x == '1-0' or x == '1-1'or x == '2-0' or x == '0-2':
        return np.NaN
    else:
        return x

In [264]:
df_wins2['TotalWL'].apply(lambda x: minimo(x))

1     3-0
2     3-0
3       0
4       0
5       0
6       0
7       0
8       0
9     1-2
10    0-3
11      0
12      0
13      0
14      0
15      0
16      0
17      0
Name: TotalWL, dtype: object

In [261]:
df_wins2['TotalWL'] = df_wins2['TotalWL'].apply(lambda x: minimo(x))

In [269]:
df_wins2[df_wins2['TotalWL'] != 0]

   Jugadores TotalWL  Win%
1       Javi     3-0   100
2       Fran     3-0   100
9      Diego     1-2    33
10      Pepe     0-3     0